#addEmployeeDialog{
    padding: unset;
    max-width: 90vw;
}
#addEmployeeDialog[open] form{

    display: flex;
    flex-direction: column;
    min-height: 20rem;
    width: 25rem;
    max-width: 100%;
    gap: 0.5rem;
    align-items: center;
    padding: 1rem;

    p {
        margin: 0.5rem;
        text-align: center;
    }

    label {
        margin-top: 0.5rem;
    }

    input{
        font-size: 1rem;
        width: 15rem;
        height: 2rem;
    }

    select{
        font-size: 1rem;
        width: 15rem;
        padding: 0.5rem;
    }

    button{
        margin-top: 1rem;
    }
}
#closeDialogContainer {
    display: flex;
    justify-content: flex-end;

    button {
        border-top: unset;
        border-right: unset;
        width: 3.5rem;
        height: 3.5rem;
    }
}
.removeButton {
    background-color: red;
    color: white;
    border: unset;
    padding: 1rem;
}
.removeButton:hover {
    background-color: darkred;
    cursor: pointer;
}
.remove-column{
    text-align: center;
}